/*右侧tab*/
#feature{
  height: 808px;
  width: 100%;
  background:url(../images/01.jpg) no-repeat left 0;
}
.aside{
  position: absolute;
  top: 0;
  left: 0;
  width: 201px;
  height: 100%;
  background: url(../images/aside_bg.png) repeat;
  overflow: hidden;
}
.aside_nav{
  width: 201px;
}
.aside_nav li{
  float: left;
  display: block;
  width: 100%;
  height: 100%;
}
.aside_t {
  display: block;
  width: 100%;
  height: 70px;
  background: url(../images/aside.png) no-repeat top;
  overflow: hidden;
}
#aside_t1 {
  height: 99px;
  background-position: 0 0;
  text-indent: -9999px;
}
#aside_t1:hover{
  background-position: -201px 0;
}
#aside_t2 {
  background-position: 0 -99px;
  text-indent: -9999px;
}
#aside_t2:hover{
  background-position: -201px -99px;
  text-indent: -9999px;
}
#aside_t3 {
  background-position: 0 -169px;
  text-indent: -9999px;
}
#aside_t3:hover {
  background-position: -201px -169px;
  text-indent: -9999px;
}
#aside_t4 {
  background-position: 0 -239px;
  text-indent: -9999px;
}
#aside_t4:hover {
  background-position: -201px -239px;
  text-indent: -9999px;
}
#aside_t5 {
  background-position: 0 -309px;
  text-indent: -9999px;
}
#aside_t5:hover {
  background-position: -201px -309px;
  text-indent: -9999px;
}
#aside_t6 {
  background-position: 0 -379px;
  text-indent: -9999px;
}
#aside_t6:hover {
  background-position: -201px -379px;
  text-indent: -9999px;
}
#aside_t7 {
  background-position: 0 -449px;
  text-indent: -9999px;
}
#aside_t7:hover {
  background-position: -201px -449px;
  text-indent: -9999px;
}
#aside_t8 {
  background-position: 0 -519px;
  text-indent: -9999px;
}
#aside_t8:hover {
  background-position: -201px -519px;
  text-indent: -9999px;
}
#aside_t9 {
  float: left;
  height: 40px;
  width: 80px;
  background-position: 0 -589px;
  color: #AA9666;
  text-align: center;
  font-size: 14px;
  font-family: "宋体";
  line-height: 40px;
  padding: 12px 0 0 20px;
}
#aside_t10 {
  float: left;
  height: 40px;
  width: 70px;
  background-position: -100px -589px;
  color: #AA9666;
  font-size: 14px;
  font-family: "宋体";
  line-height: 40px;
  padding: 12px 0 0 31px;
}


/*内容部分*/
#feature .content {
  width: 919px;
  height: 808px;
  margin-left: 201px;
  padding-left: 80px;
  overflow: hidden;
}
#feature #vi {
  width: 690px;
  height: 428px;
  margin-top: 196px;
  max-width: 1960px;
}

#feature .wrap_vi {
  position: relative;
  width: 690px;
  height: 428px;
  display: none;
}
#feature #nav {
  width: 525px;
  height: 130px;
  margin-top: 10px;
  z-index: 9998;
  cursor: pointer;
}
#feature #nav a {
  width: 175px;
  height: 130px;
  text-indent: -999em;
  float: left;
  display: inline-block;
  background: url(../images/tese_btn.png) no-repeat;
}
#feature #nav a#nav1 {
  background-position: 0 0;
}
#feature #nav a#nav1:hover{
  background-position: 0 -130px;
}
#feature #nav a#nav2 {
  background-position: -175px 0;
}
#feature #nav a#nav2:hover {
  background-position: -175px -130px;
}

#feature #nav a#nav3 {
  background-position: -350px 0;
}
#feature #nav a#nav3:hover {
  background-position: -350px -130px;
}




/*底边栏*/
#footer {
  clear: both;
  height: 80px;
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
  color: #fff;
  background-color: #212121;
}
.nie-copyRight-new-inner {
  width: 1020px;
  text-align: left;
  margin: 0 auto;
  padding: 15px 0 10px;
  font-size: 12px;
  font-family: SimSun;
  line-height: 20px;
  display: block;
}
.nie-copyRight-new-inner .nie-cn-logo {
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  min-width: 280px;
}
.nie-copyright-new-inner .nie-cn-logo a {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}
.nie-copyright-new-inner .nie-cn-logo img {
  padding-right: 15px;
  padding-top: 5px;
  border: 0;
  vertical-align: middle;
}
.nie-copyright-new-inner .nie-cn-nav {
  display: inline-block;
  vertical-align: top;
  padding-left: 6px;
  position: relative;
  z-index: 1;
  font-family: SimSun;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}
